@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/*Main page*/
.toggle{
    position: fixed;
    top: 30px;
    right: 60px;
    width: 52px;
    height: 52px;
    background: #002857 url("../img/m.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active{
    background: #002857 url("../img/close.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}





section{
    min-height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}


.banner .contentBx,
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 0px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx h1{
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: none;
    letter-spacing: 0.1px;
}

.contentBx h2{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-family: 'Inter', sans-serif;
}

.contentBx .a-one{
    color: #0065d9;
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.1px;
    display: block;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.a-one:hover{
    color: #0082bc;
}

.contentBx a{
    display: block;
    color: #0065d9;
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.1px;
    display: block;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}
a:hover{
    color: #0082bc;
}

.contentBx .email{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}


.sidebar{
    width: 840px;
    position: fixed;
    background: #002857;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active{
    right: 0;
    width: 100%;
    height: 100%;
}

.sidebar .menu{
    margin: 0;
    padding: 0;
}

.sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
    margin-bottom: 20px;
}
.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1px;
}

.sidebar ul li a:hover{
    color: #00bcd4;
}
/*Main pade end*/


/*/
/*/
/*/
/*/

/*Publications*/

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    color: #000;
}

.section__header{
      padding: 107px 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
}

.section__title h2{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 100%;
    max-width:350px;

}

.section__title h3{
    font-size: 23px;
    font-weight: 400;
    margin-top: -23px;
    margin-bottom: 57px;
}

.section__text li{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    color: #000;
    max-width: 870px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 29px;
    border-bottom: 0.8px solid #002857;
}

.section__text li:last-child{
    border-bottom: none;
}


li{
    font-size: 19px;
    padding-left: 10px;

}


.section__text ol{
    margin: 0;
    padding: 0;
}



/*/
/*/
/*/
/*/

/*Conferences*/
.conferences__text{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    color: #000;
    max-width: 870px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 29px;

}

.conf__local{
    list-style-type: none;
    padding: 20px 0 15px 0;
    font-size: 23px;
    color: #003777;
    font-style: italic;

}

.conf__topic{
    list-style-type: none;
    padding: 0 0 20px 0;
    font-size: 20px;
    border-bottom: 0.8px solid #002857;
}


.conferences__text li:last-child{
    border-bottom: none;
}


/*/
/*/
/*/
/*/

/*Resolved problems*/

.section__title__prob h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    line-height: 39px;
}

.reproblem__text{
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: left;
    color: #000;
    max-width: 870px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 27px;
}

.border{
     border-bottom: 0.8px solid #002857;
     padding-bottom: 20px;
}

.problem{
    list-style-type: disc;
    padding: 2px 0 0 20px;
    font-size: 20px;
    margin: 12px 0 0 0;
    line-height: 27px;
}

.solution{
    color: #fff;
    background-color: #002857;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    line-height: 27px;
}

ol{
    padding: 0;

}

























































/*Adoptive pages*/

@media (max-width:1920px){
    .sidebar{
       width:1300px;
       padding: 0px;
    }

}

@media (max-width:1600px){
    .sidebar{
       width:980px;
       padding: 0px;
    }

}
@media (max-width:1440px){
    .sidebar{
       width:820px;
       padding: 0px;
    }

}

@media (max-width:1230px){
    .banner .imgSidebar{
        display: none;
    }

    .banner .contentBx,
    .sidebar{
       width:100%;
       padding: 0px;
    }
    .toggle{
        right: 40px;
    }

    .section__text ol{
        margin: 0 20px 0 20px;
        padding: 20px;
}
    .section__title h3{
        margin-bottom: 40px;
    }
    .conferences__text{
        margin: 0 20px 0 20px;
        padding: 20px;
    }

    .reproblem__text{
        margin: 0 20px 0 20px;
        padding: 9px;
    }
    .section__title__prob h2{
        font-size: 20px;
        width: 420px;
    }



}

@media (max-width:575px){
    .contentBx h1{
        font-size: 35px;
    }
    .contentBx h2{
         font-size: 20px;
    }
    .contentBx .a-one{
        font-size: 20px;
    }
    .contentBx a{
          font-size: 20px;
    }
    .sidebar ul li a{
        font-size: 22px;
    }
    .toggle{
        width: 45px;
        height: 46px;
    }
    .section__title h3{
        margin-bottom: 0;
    }
    .section__title__prob h2{
        font-size: 20px;
        width: 400px;
        line-height: 33px;
    }


}




@media (max-width:380px){
    .contentBx h1{
        font-size: 30px;
    }
    .contentBx h2{
         font-size: 18px;
    }
    .contentBx .a-one{
        font-size: 18px;
    }
    .contentBx a{
          font-size: 18px;
    }
    .sidebar ul li a{
        font-size: 18px;
    }

}




















